.text {
    font-weight: bold;
    font-size: 1.875rem;
    color: white;
    text-align: center;
    margin-left: 12rem;
    margin-top: 6.25rem;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.mainContainer {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7.5rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.25rem;
}

.money,
.bike,
.truck {
    max-width: 6.25rem;
    height: auto;
}

.pics {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    max-width: 100%;
    margin-left: 9rem;
    animation: slideIn 2s ease-in-out;
}

.map {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 9rem;
    margin-top: 1.25rem;
    animation: slideIn 2s ease-in-out;
}


@media (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        padding: 0.625rem;
    }

    .pics {
        flex-direction: column;
        gap: 1.25rem;
        margin-left: 0;
    }

    .money,
    .bike,
    .truck {
        max-width: 5rem;
    }

    .text {
        font-size: 1.5rem;
        margin-left: 0;
    }

    .map {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}