.mainContainer{
    border-radius: 28px;
    width: 30%;
    height: 500px;
    border: 4px solid #FFFFFF;
    padding: 30px 30px;
    background-color: white;
    margin-top: 25px;
    margin-left: 297px;
    z-index: -21;
}
.shape {
    position: absolute;
    top: 74px;
    left: 0;
    width: 48%;
    height: auto;
    z-index: -21;
}
.inputSection{
    width: 100%;
}

.shape1 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 48%;
    height: auto;
    z-index: 1;
}


.innerCont{
    margin-left: 73px;

}
.topic{
    font-size: 23px;
    font-weight: bold;
    margin-left: -53px;

}
.btn{
    margin-right: 42px;
    border: 4px solid #E3F2E1;
    background-color: #E3F2E1;
    border-radius: 23px;
    font-size: 18px;
    font-weight: bold;
    color: green;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    line-height: 1.1;

}





body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color:
            #71BC68;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {

        background-color: #f0f4f8;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        height: 400px;
        margin: 20px auto;
        display: block;
}
.error{
    color: red;
}

h2 {
    text-align: center;
    color: #71BC68;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid
    #71BC68;
    border-radius: 5px;
}

button {
    background-color: #71BC68;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


p {
    text-align: center;
}

a {
    color:
            #E3F2E1;
    text-decoration: none;
}