.mainCon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Slide-in animation */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.phone {
    margin-bottom: 20px;
}

.wat {
    margin-left: 120px;
    animation: slideIn 2s ease-in-out;
}

.maps {
    position: relative;
    width: fit-content;
    margin-top: 29px;
    margin-left: 114px;
}

.map {
    display: block;
    max-width: 100%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    margin-top: -65px;
    border-radius: 10px; /* Optional: Add rounded corners */
}

.hunter {
    font-weight: bold;
    font-size: 30px;
}

.help, .become {
    font-size: 14px;
}

.local {
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: -100px;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .wat {
        margin-left: 33px;
        max-width: 80%; /* Adjust the width for smaller screens */
    }

    .maps {
        margin-left: 0;
    }

    .text {
        font-size: 10px; /* Reduce font size for smaller screens */
        margin-top: -68px;   /* Adjust margin to prevent overlap */
        padding: 5px;
    }

    .hunter {
        font-size: 10px; /* Adjust the size of the title text */
    }

    .local {
        font-size: 20px;
        margin-left: 0;
    }
}
